/* MEDIA QUERIES */
            
@media only screen and (min-width: 540px) {

  body.default { margin: 2vh auto; }
  
}
            
@media only screen and (min-width: 720px) {

  body.default { margin: 3vh auto; }
  
}

@media only screen and (min-width: 960px) {

  body.default { margin: 7vh auto; }
  
}

@media only screen and (min-width: 1140px) {

  body.default { margin: 10vh auto; }
  
}
