@import url('https://fonts.googleapis.com/css2?family=Oxygen&family=Ubuntu:wght@300&display=swap');

body { font-family: "Oxygen", sans-serif; }
h1, h2, h3, h4, h5, h6 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 300;
    font-style: italic;
}
ul {
    list-style: none;
    padding: 0;
}
  div.marble_nest ul {
    padding-left: : 2rem;
  }
